<!DOCTYPE html>
<html>
<head>
  <title>About</title>
</head>
<body>
<div class='row'>
  <div class='photo col-md-4'>
    <img src="./assets/headshot.png"> 
  </div>
  <div class='col-md-6 offset-md-1 about'>
    <p>In West Philadelphia, born and raised &hellip; oh wait, wrong story. 
     <br/>Hi, I&apos;m Rachel. I was   actually born and raised in Northbrook, IL (a suburb of Chicago). I left the Windy City to  attend the University of Utah in Salt Lake City and later graduated from Utah Valley  University with a B.A. in History. Right up until graduation, I planned on teaching high  school history. However, graduation loomed, that plan no longer seemed to fit and I was  left wondering <q>What next?</q> I tried my hand at interior design and event planning while I  figured out what I really wanted in a career. About a year and a half into my job planning events I was asked to create a registration website for some upcoming events. I had zero development skills and ended up using a template to get the job done. While it met our needs, it was a little clunky and certainly wasn&apos;t what I would have created on my own. It  got me thinking, <q>What if I could do this the way I want?</q> I started reading everything I  could and using any free online resources I could find on building websites. From there I  decided the tech industry, specifically web development, was where I wanted to be. After some research I decided to quit my job and attend a three-month intensive development boot  camp, through DevPoint Labs, here in Salt Lake City, UT.  Thus began my love affair with web development. The more I learn the harder I fall. I love that this is an ever-changing industry that requires consistent learning to stay relevant. I find great satisfaction in the juxtaposition of the technical skills and creativity that exists in web development.</p>
  </div>
</div>


</body>
</html>