<div class='index'>
  <div class='title'>
    <h1>rachel prows</h1>
    <h3>Full Stack Ruby on Rails Developer</h3>
    <h3>Salt Lake City, UT</h3>
  </div>
  <div class='paragraph'>
    <p>A born and raised Chicagoan with a Seattlite heart. Salt Lake City transplant.  Avid  reader, pop-culture junky, dog enthusiast, and lover of the outdoors with a chronic case  of wanderlust.
    </p>
    <p>Loves  a good challenge.</p>
  </div>
</div>
