
<head>
  <meta charset="UTF-8">
  <title>Flex Panels 💪</title>
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="panels">
    <div class="panel panel1">
      <p>Give</p>
      <p>[portfolio]</p>
      <p>Receive</p>
    </div>
    <div class="panel panel2">
      <div>
        <img class="headshot" src="./assets/headshot.png">
      </div>
      <div class='about-title'>
        <p>[rp]</p>
      </div>
      <div >
        <h5>rachel prows</h5>
        <p class='about-body'>A born and raised Chicagoan and Salt Lake City transplant.<br /> Avid reader, pop-culture junky, dog enthusiast, and lover of the outdoors with a chronic case of wanderlust.<br />
        Loves a good challenge.</p>
      </div>
    </div>
    <div class="panel panel3">
      <p>Give</p>
      <p>[resume]</p>
      <p>You can</p>
    </div>
  </div>

  <script src="./index.js"></script>

