<% 
  Projects=[
    {name: 'SomeThere', url: 'http://www.somethere.com', desc: 'Capstone project for bootcamp. Built using Rails, React, and Redux', photo: '/assets/somethere.png'},
    {name: 'Elizabeth Hales Design', url: 'https://www.elizabethhalesdesign.com/', desc: 'Shopify site for local interior designer', photo: '/assets/ehd.jpg'},
    {name: "Huntin' Fool", url: 'https://www.HuntinFool.net', desc: 'Custom site for UT hunting company. Built using Rails, JavaScript, and Alchemy CMS', photo: '/assets/hf.png'},
    {name: 'Vivint Arena', url: 'https://www.VivintArena.com', desc: 'Utah Jazz arena and concert venue. Built using Rails and JavaScript', photo: '/assets/vivint.png'},
    {name: 'Tour of Utah', url: 'https://www.TourofUtah.com', desc: 'Site for professional cycling race in Utah. Built using Rails and JavaScript.', photo: '/assets/tou.png'},
    {name: 'DevPoint Labs', url: 'https://www.devpointlabs.com', desc:'Coding bootcamp based in Salt Lake. Built using Rails and React.', photo: '/assets/dpl.png'},
    {name: 'Cluff RealEstate', url: 'https://www.cluffpm.com', desc:'Arizona based property management company. Built with Wordpress.', photo: '/assets/cluffpm.png'}
  ] 
%>


<div class='projects-page'>
  <div class='projects-header'>
    <h1 class='center spaced projects-title'>projects</h1>
    <h3 class='center projects-subtitle'> - Here's what I have been up to - </h3>
  </div>
  <div class='container'>
    <div class='row'>
      <% Projects.each do |project| %>
        <div class='col-sm-4'>
          <div class="card">
            <div class="card-block">
              <h4 class="card-title"><%= project[:name]%></h4>
              <p class="card-text"><%= project[:desc]%></p>
              <a href=<%= project[:url] %> class="btn btn-primary project-btn" target='_blank'>See project</a>
            </div>
            <img class="card-img-top card-img" src=<%= project[:photo]%> alt="Card image cap">
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

