<div class='resume-page'>
  <div class='resume-header'>
    <h1 class='center spaced resume-title'>resume</h1>
    <iframe class='resume-pdf center small-gone' src="./assets/resume.pdf" frameborder="0">rprows resume</iframe>
    <a class="small-only" href="./assets/resume.pdf" target="_blank">Click to view resume</a>
  </div>
</div>  
