/* GENERAL */
body {
  font-family: "AvenirNext-Regular";
  color: #C18C5D;
}

h1 {
  color: #495867;
}

.navbar {
  background-color: #CE796B;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

/* INDEX */

.index {
  text-align: center;
  background-color: #ECC8AF;
  color: 
}

.title h1 {
  letter-spacing: 15px;
}

.paragraph {
  padding-left: 25px;
  padding-right: 25px;

}

/* ABOUT */

/* PROJECTS */
.card-img img {
  height: 250px !important;
  width: 250px !important;
}

/* RESUME */

/* CONTACT */

