/*#ECC8AF */

/* GENERAL */
body {
  font-family: "AvenirNext-Regular";
  color: #C18C5D;
}

h1 {
  color: #495867;
}

.center {
  text-align: center;
}
.spaced {
  letter-spacing: 10px;
}

.small-only {
  display: none;
}
/*NAVBAR*/

.navbar {
  background-color: #CE796B;
  margin-bottom: 0;
  border: none;
  border-radius: 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
  letter-spacing: 3px;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #495867;
}


/* INDEX */
.about {
  display: none;
}

#hide{
  display: none;
  font-size: 50px;
}

.down-caret {
  font-size: 50px;
}

.index-header {
  background-color: rgb(236, 200, 175);
  margin: 100px auto;
  padding: 25px;
  text-align: center;
  width: 60%;
}

.index-page {
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size:  cover;
  margin-top: 0px;
  height: 1500px;
  overflow: hidden;
}

.intro h1 {
  letter-spacing: 15px
  color: black !important;
}



.title h1{
  font-size: 200px;
  color: white;
}

.photo {
  height: 300px;
}


/* ABOUT */
/*.about {
  background-color: rgb(236, 200, 175);
  float: right;
  margin: 100px 75px 75px 75px;
}*/

.about-container {
  width: 100%;
  padding: 0;
}

.about-subtitle {
  margin-bottom: 20px;
}

.about-title {
  margin: 20px 0;
}

.bio {
  text-align: center;
  margin: 25px;
}

.photo1 {
  float: left;
  position:fixed;
  bottom:0px;
  overflow: hidden;
}



/* PROJECTS 

.card {
  width: 360px;
  margin-bottom: 30px;
  background-color: rgba(236, 200, 175, 0.95);
}

.card-block {
  padding: 20px 20px;
  border-bottom:  #495867 solid 2px;
  min-height: 172px;
}

.project-btn {
  margin: 0px 0px 10px 0px;
}
.projects-page {
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size:  cover;
  margin-top: 0px;
  height: 1500px;
  overflow: auto;
}
.projects-header{
  margin: 100px auto;
  background-color: rgba(236, 200, 175, 0.9);
  height: 200px;
  padding-top: 30px;
  width: 62%;
}

.projects-title {
  margin: 20px 0;
}

.projects-subtitle {
  margin: 10px 0;
}

/* RESUME */
.resume-page {
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size:  cover;
  margin-top: 0px;
  height: 1500px;
  overflow: auto;
}

.resume-header {
  margin: 100px auto;
  background-color: rgb(236, 200, 175);
  /*height: 200px;*/
  padding-top: 30px;
  width: 62%;
}

.resume-pdf {
  width: 850px;
  height: 1000px;
  margin: 50px 240px;
  /*margin-bottom: 50px;*/
/*  margin-top: 50px;
*/}

/* CONTACT */
.contact {
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size:  cover;
  height: 1500px;
  overflow: auto;
}

.contact-form {
  width: 62%;
}

.form-horizontal {
  background-color: rgba(236, 200, 175, 0.9) !important ;
  height: 500px;
  padding: 25px;
  margin: 100px auto;
}



/*RESPONSIVE STYLING */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .small-gone {
    display: none;
  }
  /*index*/
  .index-header {
    width: 85%;
    margin-top: 20px;
  }
  .title h1 {
    display: none;
  }

  /*contact*/
  .contact-form {
    width: 100% ;
  }
  .form-horizontal {
    margin-top: 20px;
    height: 100%;
  }

  /*projects*/
  .col-sm-4 {
    padding-left: 2%;
  }

  /*about*/
  .about {
    width: 350px;
    padding: 0px;
    margin: 28px;
    float: none;
  }

  .about-container {
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size:  cover;
    margin-top: 0px;
    height: 1500px;
    overflow: auto; 
  }

  .about-row {
    width: 375px;
  }

  .about-title {
    padding-top: 25px;
  }

  .bio {
    padding: 5px 5px 25px 5px;
  }

  /*resume*/

  .small-only {
    display: block;
  }

}

/*tablet*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  .small-gone {
    display: none;
  }
  /*Index*/
  .index-header {
    width: 85%;
  }

  /*contact*/
  .contact-form {
    width: 100%;
  }

  .form-horizontal {
    margin-top: 25px;
    height: 100%;
  }

  /*about*/

  .about-container {
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size:  cover;
    margin-top: 0px;
    height: 1500px;
    overflow: auto; 
  }

}

